@charset "utf-8"; @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap'); /*==================================================
 CSS 초기화
==================================================*/
/* Eric Meyer’s “Reset CSS” 2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box;} 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; } 
body { line-height: 1; } 
ol, ul { list-style: none; } 
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
/* 추가 Reset CSS */
* { font-family: 'Noto Sans KR', sans-serif; color: #222; } 
a { text-decoration: none; display: block; } 
img { display: block; } 


/*==================================================
 공통디자인
==================================================*/
.container { max-width:1200px; margin: 0 auto; } 
/* 섹션 공통 디자인 타이틀 */
.tit { font-size: 2.2rem; font-weight: 600; margin-bottom: 20px; text-align: center; } 
/* 제품 썸네일 이미지 디자인*/
.thumb { width: 100%; background-color: #fff; border: 1px solid #ccc; border-radius: 10px; margin-bottom: 1.5em; box-sizing: border-box; position: relative; } 
.thumb .hov-box { display: none; } 
.thumb .hov-box .wish-btn { position: absolute; right: 1em; bottom:3em; } 
.thumb .hov-box .cart-btn { position: absolute; right: 1em; bottom: 1em; } 
.thumb:hover { border: 1px solid #ea5504; } 
.thumb:hover .hov-box { display: block; } 
/* 제품가격 디자인 */
.desc .prod-title { margin-bottom: 0.5em; } 
.desc .price-area { display: flex; align-items: center;} 
.desc .price-area .discount { display: block; font-size: 1.8rem; font-weight: 600; letter-spacing: -0.02rem; font-family: 'Roboto', sans-serif; } 
.desc .price-area .discount .won { font-size: 1.2rem; font-weight: 600; margin-left: 0.1em; } 
.desc .price-area .price { display: block; margin-bottom: 0.5em; text-decoration: line-through; font-family: 'Roboto', sans-serif; margin-top: 0.7em; margin-left: 0.5em; color: #777; } 
.desc .price-area .price .won { font-size: 0.8rem; color: #777; } 
.desc .price-area .sale { display: block; font-size: 1.7rem; font-weight: 600; color:#ea5504; font-family: 'Roboto', sans-serif; margin-top: 0.09em; margin-right: 0.1em; } 


/*==================================================
 헤더
==================================================*/
header .hd-top { width:100%; height: 40px; border-bottom: 1px solid #ccc; background-color: #fafafa; } 
header .hd-top .container { height: 100%; display: flex; align-items: center; } 
header .hd-top .favorites-btn { font-size: 0.875rem; padding-right: 3em; background: url(../image/top_favorite.png) no-repeat 3.8em; } 
header .hd-top .util-menu { display: flex; margin-left: auto; } 
header .hd-top .util-menu li { margin-left: 1.8em; position: relative; } 
header .hd-top .util-menu li:before { content:'|'; color: #bdbdbd; position: absolute; top: 0; left: -1em; } 
header .hd-top .util-menu li:first-child:before { content:''; } 
header .hd-top .util-menu li a { font-size: 0.875rem; } 
/* top logo 부분 */
header .hd-top-logo { width: 100%; height: 100px; border-bottom: 1px solid #ccc; } 
header .hd-top-logo .container { height: 100%; display: flex; align-items: center; } 
header .hd-top-logo .logo { width: 12.5em; margin-right: 1em; } 
header .hd-top-logo .logo img { height: 100%; } 
header .hd-top-logo .search-wrap { width: 300px; border-bottom: 2px solid #222; padding-bottom: 0.4em; display: flex; } 
header .hd-top-logo .search-wrap .search-box { border: 0; flex:1; min-width: 0; } 
header .hd-top-logo .search-wrap .search-box:focus { outline: none; } 
header .hd-top-logo .search-wrap .search-btn { border: 0; width: 30px; height: 30px; background: url(../image/top_search.png) no-repeat center; cursor:pointer; } 
header .hd-top-logo .user-page { display: flex; margin-left: auto; } 
header .hd-top-logo .user-page li { margin-left: 1.2em; position: relative; } 
header .hd-top-logo .user-page li img { height: 70%; margin: 0 auto; } 
header .hd-top-logo .user-page li .basket-circle { width: 20px; height: 20px; display: block; background-color: #ea5504; border-radius: 50%; color: #fff; font-size: 0.875rem; text-align: center; line-height: 20px; position: absolute; top: -7px; right: 0; } 
header .hd-top-logo .user-page li .user-page-txt { display: block; color: #555; font-size:0.875rem; margin-top: 1em; } 
/* top gnb부분 */
header .hd-top-gnb { width: 100%; height: 60px; border-bottom: 1px solid #ccc; } 
header .hd-top-gnb a { font-size: 17px; font-weight: 600; white-space: nowrap;} 
header .hd-top-gnb a:not(.all-category-btn):hover { color: #ea5504; } 
header .hd-top-gnb .container { height: 100%; display: flex; align-items: center; } 
header .hd-top-gnb .all-category-btn { height: 100%; width: 180px; line-height: 54px; text-align: center; border-left: 1px solid #ccc; border-right: 1px solid #ccc; } 
header .hd-top-gnb .all-category-btn .category-icon { display: inline-block; width: 25px; margin-right: 0.5em; } 
header .hd-top-gnb .all-category-btn .category-icon span { display: block; width: 25px; height: 3px; margin-bottom: 4px; background-color: #222; } 
header .hd-top-gnb .all-category-btn>span { display: inline-block; vertical-align: middle; } 
header .hd-top-gnb .gnb { width: 50%; margin-right: 15%; display: flex; } 
header .hd-top-gnb .gnb li {padding:0 25px; text-align: center; } 
header .hd-top-gnb .etc-list { width: 20%; display: flex; justify-content: flex-end; margin-left: auto; } 
header .hd-top-gnb .etc-list li { width: 50%; text-align: right; } 
/* 전체 카테고리 메뉴 */
header .all-category-wrap { width: 1200px; margin: 0 auto; padding: 3em; border: 1px solid #555; background-color: #fff; box-sizing: border-box; position: relative; display: none; } 
header .all-category-wrap .all-category-menu { display: flex; } 
header .all-category-wrap .all-category-menu>li { width: 17%; margin-right: 3%; text-indent: 0.3em; } 
header .all-category-wrap .all-category-menu>li>a { font-size: 1.1rem; font-weight: 600; } 
header .all-category-wrap .all-category-menu>li>a:after { content: ''; display: block; width: 100%; border-bottom: 1px solid #555; margin: 1em 0 1.2em; } 
header .all-category-wrap .all-category-menu .smenu li { margin-bottom: 1em; } 
header .all-category-wrap .close-btn { position: absolute; bottom: 1em; right: 1em; } 
header .all-category-wrap .close-btn img { width: 100%; } 
header .mob-hd-top-logo {display: none;}

/*==================================================
풋터
==================================================*/
/* 풋터 사이트맵 */
footer .site-map { width: 100%; border-bottom: 1px solid #ccc; } 
footer .site-map .container { height: 60px; display: flex; align-items: center; } 
footer .site-map .container .site-map-menu { display: flex; } 
footer .site-map .container .site-map-menu li { margin-right: 1.8em; position: relative; } 
footer .site-map .container .site-map-menu li:after { content:'|'; color: #bdbdbd; position: absolute; top: 0; right: -1em; } 
footer .site-map .container .site-map-menu li:last-child:after { content:''; } 
footer .site-map .container .site-map-menu li a { font-size: 0.9rem; } 
footer .site-map .container .site-map-menu li:first-child a { font-weight: 800; } 
footer .site-map .container .mob-sns-group { display: none; } 
/* 풋터 top부분 */
footer .ft-top { width: 100%; padding: 1.5em 0; border-bottom: 1px solid #ccc; } 
footer .ft-top .tit { text-align: left; font-size: 1.2rem; font-family: 'Roboto', sans-serif; font-weight: 600; color: #555; } 
footer .ft-top .bold-txt { display: block; font-size: 1.6rem; font-weight: 600; margin-bottom: 0.4em; } 
footer .ft-top .small-txt { display: block; line-height: 1.4; } 
footer .ft-top .container { display: flex; } 
footer .ft-top .container>div { width: 23.5%; padding: 1em 1em 1em 0; margin-right: 2%; padding-right: 2%; border-right: 1px solid #ccc; box-sizing: border-box; } 
footer .ft-top .container .notice { border-right: 0; } 
footer .ft-top .container .notice li { line-height: 1.5; } 
footer .ft-top .container .notice li a { font-size: 0.875rem; text-overflow: ellipsis; white-space: nowrap; } 
footer .ft-top .container .notice li a::before { content: '•'; } 
footer .ft-top .container .sns-group { margin-right: 0; border-right: 0; position: relative; } 
footer .ft-top .container .sns-group ul { display: flex; position: absolute; top: 0; right: 0; } 
footer .ft-top .container .sns-group li { margin-left: 1.5em; } 
/* 풋터 bottom부분 */
footer .ft-bottom { width: 100%; padding: 1.5em 0 2em; } 
footer .ft-bottom .container { display: flex; } 
footer .ft-bottom .ft-logo { width: 15%; margin-right: 5%; } 
footer .ft-bottom .info-box { width: 80%; } 
footer .ft-bottom .info-box address { width: 100%; margin-bottom: 0.8em; word-break: keep-all; } 
footer .ft-bottom .info-box address p { display: inline; font-size: 0.875rem; margin-right: 1em; line-height: 1.5; } 
footer .ft-bottom .info-box address p a { display: inline; } 
footer .ft-bottom .info-box address .bold-txt { font-weight: 600; margin-right: 0.5em; } 
footer .ft-bottom .info-box .copyright { font-size: 0.875rem; } 


/*==================================================
aside.퀵메뉴
==================================================*/
.quick-menu { width: 100px; border: 1px solid #ccc; background-color: #fff; position: absolute; right: 30px; top: 80%; } 
.quick-menu .tit { font-size: 1rem; margin-bottom: 0em; color: #777; padding: 1em 0 0.8em; } 
.quick-menu>div { border-bottom: 1px solid #ccc; } 
.quick-menu .recent-product .gonow-btn { margin-bottom: 1em; text-align: center; color: #ea5504; text-decoration: underline; font-size: 0.9rem; } 
.quick-menu .recent-product .recent-wrap .recent-view .recent-box { width: 80px; height: 80px; margin: 0 auto 0.5em; border: 1px solid #e1e1e1; } 
.quick-menu .recent-product .recent-wrap .recent-view .recent-box a img { width: 100%; } 
.quick-menu .recent-direction { display: flex; justify-content: center; margin: 1em; } 
.quick-menu .top-btn { border-bottom: 0; } 
.quick-menu .top-btn a { width: 100%; height: 100%; } 
.quick-menu .top-btn a img { margin: 1em auto; } 

.pc {display:block; }
.mobile {display:none; }

/*==================================================
    반응형
==================================================*/
@media (max-width:1500px) {
    .quick-menu {display:none;}

}
@media (max-width:1200px) {
    .container {padding-left:15px; padding-right: 15px;}
}
@media (max-width:1000px) {
    .pc {display:none; }
    .mobile {display:block; }
}
@media (max-width:768px) {
    .tit {align-items: center; font-size:30px;}
}
@media (max-width:480px) {

}