@charset "utf-8"; @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');





/*==================================================
 CSS 초기화
==================================================*/
/* Eric Meyer’s “Reset CSS” 2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; box-sizing: border-box; } 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,img,a { display: block; } 
body { line-height: 1; } 
ol, ul { list-style: none; } 
blockquote, q { quotes: none; } 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; } 
table { border-collapse: collapse; border-spacing: 0; } 
/* 추가 Reset CSS */
body { font-family: 'Roboto','Noto Sans KR','Malgun Gothic',Verdana,Dotum,AppleGothic,sans-serif; font-size: 0.75rem; color: #222; } 
a { text-decoration: none; color:#222; } 






/*==================================================
 공통디자인
==================================================*/
.container { width:1200px; height: 100%; margin: 0 auto; display: flex; align-items: center; } 





/*==================================================
 헤더
==================================================*/
header .top { width: 100%; height: 40px; background-color: #f9f9f9; border-bottom: 1px solid #d5d5d5; } 
header .top .favorites-btn { margin: 0; padding: 0; display: flex; border: 0; background-color: transparent; color: #373536;} 
header .top .favorites-btn img {margin-left: 3px;} 
header .top .util-menu-group { margin-left: auto; display: flex; } 
header .top .util-menu-group li { margin-left: 18px; position: relative; } 
header .top .util-menu-group li:before { content: "|"; color: #dadada; position: absolute; top: 1px; left: -10px; } 
header .top .util-menu-group li:first-child:before { content: ""; } 
header .top .util-menu-group li a { color: #414141; } 



header .inner { width: 100%; height: 106px; border-bottom: 1px solid #e4e4e4; } 
header .inner .search-group {width: 387px; margin-left: 110px; padding-bottom: 2px; display: flex; border-bottom: 2px solid #535353;} 
header .inner .search-group .search-box {padding-left: 10px; flex: 1;  border: 0;} 
header .inner .search-group .search-box:focus {outline: none;}
header .inner .search-group .search-btn {width: 29px; height: 29px; background: url(../image/top_search.png) no-repeat;} 
header .inner .user-page-group { margin-left: auto; display: flex; } 
header .inner .user-page-group li { margin-left: 20px; position: relative; } 
header .inner .user-page-group li a img { margin: 0 auto; } 
header .inner .user-page-group li a .icon-circle { width: 19px; height: 19px; line-height: 19px; text-align: center; border-radius: 100%; background-color: #ea5504; color: #fff; position: absolute; top: -7px; right: 0; } 
header .inner .user-page-group li a .icon-txt { margin-top: 10px; display: block; font-size: 0.875rem; color: #868686; line-height: initial;} 



header .gnb {width: 100%; height: 54px; border-bottom: 1px solid #e4e4e4;}
header .gnb a { font-size: 1.0625rem; font-weight: 600; }
header .gnb .all-category-btn {width: 178px; height: 100%; display: inline-block; font-size: 1.0625rem; font-weight: 600; border-left: 1px solid #e4e4e4;  border-right: 1px solid #e4e4e4; background-color: transparent; }
header .gnb .all-category-btn .all-category-icon {width: 23px; height: 17px; margin-right: 12px; display: inline-block; vertical-align: middle;}
header .gnb .all-category-btn .all-category-icon span {display: block; border-bottom: 3px solid #222; margin-bottom: 4px;}
header .gnb .all-catreegory-btn .all-category-txt {}
header .gnb .menu-group {display: flex;}
header .gnb .menu-group li {}
header .gnb .menu-group li a {}
header .gnb .cs-menu-group {display: flex; margin-left: auto;}
header .gnb .cs-menu-group li {}
header .gnb .cs-menu-group li a {}
header .all-category-wrap {display: none;}




.slide-wrap {width: 100%; outline: 1px solid ;} 
.slide-wrap .slide-view {width: 100%; height: 30vh;}
.slide-wrap .slide-view .slide-group {width: 400%; height: 100%; display: flex;}
.slide-wrap .slide-view .slide-group .slide-box a img {width: 100%;}