@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/*==================================================
    CSS 초기화
==================================================*/
/* Eric Meyer’s “Reset CSS” 2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; } 
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block; } 
body {line-height: 1; } 
ol, ul {list-style: none; } 
blockquote, q {quotes: none; } 
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none; } 
table {border-collapse: collapse;border-spacing: 0; } 
/* 추가 Reset CSS */
a {text-decoration: none; display: block; color: #555;}
img {display: block;}


/*==================================================
    공통디자인
==================================================*/
.container {max-width:1200px; margin: 0 auto;}
main img {width: 20%;}




/*==================================================
    헤더
==================================================*/
header .hd-top {width:100%; height: 40px; border-bottom: 1px solid #ccc; background-color: #fafafa;}
header .hd-top>.container {height: 100%; display: flex; align-items: center;}
header .hd-top .favorites-btn {font-size: 0.875rem; padding-right: 3em; background: url(image/top_favorite.png) no-repeat 3.8em;}
header .hd-top .util-menu {display: flex; margin-left: auto;}
header .hd-top .util-menu li {margin-left: 1.8em; position: relative;}
header .hd-top .util-menu li:before {content:'|'; color: #bdbdbd; position: absolute; top: 0; left: -1em;}
header .hd-top .util-menu li:first-child:before {content:'';}
header .hd-top .util-menu li a {font-size: 0.875rem;}


header .hd-top-logo {width: 100%; height: 80px; border-bottom: 1px solid #ccc; }
header .hd-top-logo>.container {height: 100%; display: flex; align-items: center;}
header .hd-top-logo .logo {}
header .hd-top-logo .search-box {}
header .hd-top-logo .user-page {}
header .hd-top-logo .user-page li {}
header .hd-top-logo .user-page li .user-page-txt {}